// Blue: #26487B #627EA7 #3E5E8D #153564 #062148 #A5D1E5 Orange: #BA862D #FDD28A #976714 #6D4500

h1 {
    color: #FF0000;
    margin-left: 20px;
}
table {
	background-color: transparent;
}
table a img {
	display: none;
}

body {
	background-color: #062148;
}
li {
	margin: 0px 30px 0px 30px;
}
h3 {
	margin: 5px 30px 2px 30px;
}
code { 
	background-color: gray; color: blue;
}
pre {
	background-color: gray; color: blue;
}
.box {
	background-color: #FCF8F8;
	margin-left: auto;
	margin-right: auto;
	float: left;
	overflow: auto;
}
.bar {
	background-color: #FCF8F8;
	margin-left: auto;
	margin-right: auto;
	height: 20%;
	width: 90%;
	overflow: hidden;
}
.headerLink {
	width: 32.5%;
	height: 100%;
	background-color: #A5D1E5;
	display: block;
	font: 120% georgia;
	padding: 5px;
	text-align: center;
}
.nav {
	top: 80%;
	width: 100%;
	height: 20%;
}
.nav a:link, a:visited {
	color: #153564;
	text-decoration: none;
}
.nav a:hover {
	color: #6D4500;
	font: bold 130% georgia;
	
}
.content {
	width: 80%;
	background-color: #FCF8F8;
	display: block;
	color: #202C36;
	font: 100% georgia;
	text-align: left;
	margin: 20px 10px 20px 25px;;
}
.contentModuleHeader, .contentModuleHeaderAlt {
	font: 200% georgia;
	color: #153564;
	background-color: #A5D1E5;
	padding: 4px;
	text-align: center;
}
.footer {
	width: 100%;
}
a:hover {
	text-decoration: none;
	color: #7acedb;
	font: bold 120% georgia;
	z-index: 1000;
}
a:link, a:visited {
	color: #D6A552;
	text-decoration: none;
}
