// Blue: #26487B #627EA7 #3E5E8D #153564 #062148 #A5D1E5 Orange: #BA862D #FDD28A #976714 #6D4500
//Blue2: #00d0f6,#309cb0,#009fbc,#008ea8,#2c92ab,#006882, #004e6e, #004e6e, #00315a
//#D6A552

h1 {
    color: #FF0000;
    margin-left: 20px;
}
table {
	background-color: transparent;
}
table a img {
	display: none;
}

body {
	background-color: #00315a;
    height: 100%;
}
p {
    margin: 0px 10px 10px 10px;
}
li {
	margin: 0px 30px 0px 30px;
}
h3 {
	margin: 5px 30px 2px 30px;
}
h2 {
    margin-left: 10px;
}
code { 
	background-color: #CCCCCC;
    display: block;
}
pre {
	background-color: #CCCCCC;
    display: block;
}
.box {
    height: 180px;
    width: 300px;
	background-color: #F0F0F0;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
    align: center;  
    
}
.box a:link, a:visited {
    display: block;
    color: #00315a;
    text-align: center;
     border: 2px solid #004e6e;
    margin: 0px 0px -10px 0px;
}
.bar {
	background-color: #FCF8F8;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: 100%;
    top: -170px;
	overflow: hidden;
}
.headerLink {
	width: 30%;
	height: 100%;
    z-index: 100;
	display: block;
	font: 120% georgia;
	padding: 5px;
	text-align: center;
}
.nav {
    position: absolute;
    left: 5%;
    top: 80%;
	width: 50%;
	height: 15%;
    z-index: 100;
}
.headerLink a:link, .headerLink a:visited {
    color: #00315a;
}
.headerLink a:hover {
	color: #6D4500;
	font: bold 100% georgia;
}
.content {
    position: absolute; 
    top: 20%; 
    left: 15.5%;
	width: 65%;
	background-color: #FCF8F8;
	display: block;
	color: #202C36;
	font: 100% georgia;
	text-align: left;
	margin: 20px 10px 120px 25px;
    padding-bottom: 15px;
}
.contentModuleHeader, .contentModuleHeaderAlt {
	font: 200% georgia;
	color: #000134;
	background-color:  #309cb0;
	padding: 4px;
    margin: 10px 5px 0px 5px;
	text-align: center;
    border: 2px solid #000134;
}
.footer {
	width: 100%;
    background-color: #FCF8F8;
    height: 70px;
    position:absolute;
    bottom:-85px;
    text-overflow: auto;
}

a:hover {
     color: #D6A552;
	font: bold 90% georgia;
}
a:link, a:visited {
	text-decoration: none;
    color: #009fbc;
}

